:root {
    --primary-color: #055a05; /*forest green*/
    --secomdary-color: #f4a261; /*warm sand*/
    --accent1-color: #264653; /*dark slate blue*/
    --accent2-color: #e9c46a; /*light golden yellow*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/* Reset to default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body styling */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Header styling */
header {
    background-color: #8A66FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo img {
    width: 150px;
}

/*Navigation style*/

.navigation {
    list-style-type: none;
    display: flex;
    gap: 20px;
    border: 3px;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation li a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Contact Information Styling */
.contact-info, .team, .contact-form { 
    max-width: 960px; 
    margin: 0 auto; 
    padding: 1rem; 
}

.contact-info {
    text-align: center;
}

.team { 
    background-color: beige;
    padding: 40px 20px;
    text-align: center;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*gap: 20px; */
    max-width: 1200px;
    margin: 0 auto;
}

.employee { 
    width: calc(33.333% - 1rem); 
    text-align: center; 
}

.employee img { 
    width: 100px; 
    height: auto; 
    border-radius: 8px; 
}
.employee figcaption {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
}

.contact-form form { 
    display: grid;
    gap: .5rem; 
}

.contact-form label { 
    font-weight: 600; 
}

.btn-submit { 
    padding: .6rem 1rem; 
    border-radius: 6px; 
    cursor: pointer; 
}

@media (max-width: 680px) {
  .employee { width: 100%; }
}

/* Footer Styling */
.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
}